
html {
  line-height: 1;
}

body {
  background: #fff;
  padding: 50px 0 0;
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

h2 {
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 8px;
  color: rgb(231, 73, 0);
  line-height: 1.2;
}

h3 {
  margin: 0 auto;
  font-size: .75em;
}


#llama {
  margin: 0 auto;
  padding:15px 15px;
  width: 500px;
  border-radius: 30px;
  text-align: center;
  background-color: #edeff0;
}

.button {
  background: #d5b202;
  padding: 1px 18px 0 20px;
  margin: 20px auto;
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .85em;
  color: white;
  font-weight: 500;
  border: 3px solid #eca100;
  outline: none;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background: #397cac;
  border-color: #397cac;
}

input[type=text] {
  margin: 0 auto;
  width: 250px;
  font-size: .95em;
  text-align: center;
}

label {
	padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: darkblue;
  font-weight: 300;
}

textarea {
  width: 250px;
  font-size: .95em;
}

select {
  width: 250px;
  font-size: .95em;
}